root = true

[*.lua]
indent_style = space
indent_size = 2
tab_width = 8
end_of_line = lf
insert_final_newline = true
max_line_length = 100

# [align]

# don't align random stuff
align_call_args = false
align_function_params = false
align_continuous_assign_statement = false
align_continuous_rect_table_field = false
align_continuous_line_space = 2
align_if_branch = false
# option none / always / contain_curly/
align_array_table = false
align_continuous_similar_call_args = false
align_continuous_inline_comment = false
# option none / always / only_call_stmt
align_chain_expr = none
